
/* Overall properties of jacket */

html, body
{
	margin: 0;
	padding: 0;
	color: #fff;
	opacity: 1;
	cursor: default;
}

body {
	background: rgba(14, 13, 16, .15);
}

/* Delete the declaration below if you don't want to fade in jacket */

body
{
	opacity: 0;
	color: #fff;
}

/* Your properties below */

.progress
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index:0;
}

.progress span
{
	background: rgba(255,255,255, .6);
	font-family: "Helvetica Neue";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 60px;
	text-align: center;
	color: white;
	translate3d(0, 0, 0);
	-webkit-transition:all 1.1s linear;
	transition:all 1.1s linear;
}

.progress.paused span {
	-webkit-transition:all .2s linear;
	transition:all .2s linear;
	/*top:45%!important;
	bottom: 45%;*/
	opacity: .75;
}
.progress.paused span:before {
	display: block;
	content:"||";
	font-family: "Helvetica Neue";
	font-weight: 700;
	font-size: 80px;
	padding-top: 30px;
	color: rgba(255,255,255,.3);
}

.jacket
{
	position:absolute;
	z-index: 10;
	width: 270px;
	height: 1390px;
	background: transparent;
	padding: 10px;
	overflow: visible;
}

.jacket > p
{
	font-family: "Helvetica Neue";
	font-weight: 600;
	font-size: 40px;
	overflow: hidden;
	text-align: left;
	display:block;
	width: 1400px;
	height: 120px;
	color: rgba(255,255,255,.5);
	white-space: pre;
	overflow: visible;
	text-overflow: ellipsis;
	position: absolute;
	bottom:590px;
	left:-395px;
	-webkit-transform: rotate(-90deg);

}

.jacket .artist
{
	background: rgba(53, 51, 47, .35);
	display: block;
	float: left;
	padding: 250px 5px 10px 30px;
	position:relative;
	top: -250px;
}

.jacket .title
{
	font-weight: 100;
}

/* Variations */

.blue .progress span  { background: rgba(63, 185, 255, .6);  }

.green .progress span { background: rgba(114, 190, 119, .6); }

.black .progress span { background: rgba(0, 0, 0, .8);    }
.black .jacket .artist { background: rgba(255, 255, 255, .09); }
.black { background: rgba(0, 0, 0, .6);  }

.white .progress span { background: rgba(255, 255, 255, .6); }
.white { background: rgba(255,255,255,.15); color: black; }
.white .jacket .artist { background: rgba(0,0,0,.1); }
.white .jacket > p { color: rgba(0,0,0,.5); }

.invisible { background: rgba(0,0,0,.1); }
.invisible .progress span { background: rgba(0,0,0,.1);}
.invisible .jacket .artist { background: rgba(0,0,0,.1); }
.invisible .jacket > p { color: rgba(255,255,255,.3); }
